<!doctype html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
        <form action="",method="post">
            {{ form.hidden_tag() }}
            <p>
            <div class="form-group">
            {{ form.url.label }}
            {{ form.url(class="form-control",placeholder="请输入网页地址，比如：www.v2ex.com",value="www.v2ex.com") }}<br>
            {% for error in form.url.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <div class="form-group">
            {{ form.submit(class="form-control btn btn-primary") }}
            </div>
            </p>
        </form>
        </div>
    <script src="{{ url_for('static',filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
